<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <p>This site implements a demo REST API for food shops. You can start by looking
    at the types of food at <a href="/foodtypes">/foodtypes</a> or a list of shops at
    <a href="/stores">/stores</a>.</p>
  </body>
</html>